#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.slide-container{
  width: 670px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);
  background-color: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev-btn{
  position: absolute;
  left: -40px;
  color: blue;
}
.forward-btn{
  position: absolute;
  right: -60px;
  color: blue;
 
}


.image-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}


.image-box img{
  z-index: -1;
  width: 100%;
}